.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 사이드바 */
.sidebar {
  width: 75px;
  height: 100%; 
  background-color: white;
  color: black;
  padding: 10px;
  position: fixed; 
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-divider {
  height: 1.5px;
  background-color: #E5E7EA;
  margin: 0;
  width: calc(100% + 30px); 
  margin-left: -10px;      
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-menu li {
  margin: 30px 0;
}

.sidebar-menu li:first-child {
  margin-top: 30px; 
}

.sidebar-divider2 {
  height: 1.5px;
  background-color: #E5E7EA;
  margin-top: 130px;
  width: calc(100% + 72.5px); 
  margin-left: -40px;      
}

.sidebar-menu li:last-child {
  margin-top: auto; 
}

.sidebar-menu a {
  color: black;
  text-decoration: none;
  transition: color 0.2s, fill 0.2s;
}

.sidebar-menu a:hover {
  color: #61dafb;
}

.sidebar-menu a:hover svg {
  fill: currentColor;
}

/* 시작페이지 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  gap: 40px;
}

.startlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  position: relative;
  bottom: 50px; 
}

/* 마이페이지 */
.mypage {
  width: 100%;
  height: 100vh;
  background-color: #F2F3F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.box1 {
  display: flex;
  align-items: center; 
  gap: 7px;  
  font-size: 14px;
  margin-left: -1020px;
  margin-top: -2px;  
  margin-bottom: 10px;
}

.white-box {
  align-items: center;
  margin-left:  80px;
  padding: 40px;
  width: 1210px;
  height: 700px;
  box-sizing: border-box;
  background-color: white; 
  border-radius: 35px; 
  text-align: center;
}

.level-box {
  display: flex;
  align-items: center; 
  gap: 75px; 
  width: 500px;
  height: 200px;
  background-color: #DFF5FF;
  border: 1px solid #006798;
  border-radius: 20px;
  padding: 20px; 
  padding-left: 40px;
  margin: 30px auto 40px auto;
  box-sizing: border-box;
}

.profile-icon {
  width: 140px;  
  height: 140px;
}

.level-text {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
  margin-top: -35px;
}

.level-text h3 {
  margin: 2px 0;       
  line-height: 1.5;      
}


.level-icon {
  display: flex;
  align-items: center; 
  gap: 10px; 
  margin-left: 18px;
}

.box4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 500px;
  height: 200px;
  background-color: #F5FCFF;
  border: 1px solid #004298;
  border-radius: 20px;
  margin: auto;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 1.17em;  
  font-weight: bold;  
}

.box4 p {
  color: black;      
  text-decoration: none;     
}

.click {
  cursor: pointer;   
}

/* 마이페이지 - 로그아웃, 회원 탈퇴 */
.button {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.btn {
  background: #F5FCFF;
  padding: 2rem;
  border-radius: 1rem;
  border: 1.5px solid #006798;
  width: 300px;
  text-align: center;
}

.btn-actions {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.btn-cancel {
  background-color: #DBF0F9;
  color: #333738;
  border: 1px solid #00067D;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.btn-confirm {
  background-color: #DBF0F9;
  color: #006798;
  border: 1px solid #00067D;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

/* 랭킹페이지 */
.ranking-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 1000px;
  margin: 0 auto;
  background-color: white;
}

.ranking-page h1 {
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 750;
  color: black;
}

.ranking-container {
  max-height: 600px; 
  overflow-y: auto; 
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.ranking-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.ranking-table thead {
  background-color: #E7F7FF;
}
.category {
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
}

.ranking-table th,
.ranking-table td {
  padding: 16px 8px;
  color: black;
}

.ranking-table td {
  padding: 17px 8px;
  color: black;
  border-bottom: 1px solid #808080;
  vertical-align: middle;
}

.review-page {
  background: #CEEFFF;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  border: none;
}